
/*  Google fonts 'Roboto' Regular 400, Regular 400 italic, Bold 700, Bold 700 italic, Black 900
    Google fonts 'Domine' Regular 400, Bold 700 */
@font-face {
    font-family: "leaguespartan-bold";
    src: url("leaguespartan-bold.woff") format("woff");
}

body {
    font-family: "roboto", "domine", serif;
}

nav {
    font-family: "domine", serif;
    font-weight: 700;
    text-transform: uppercase;
}

.color { color: 
    #ff1616, 
    #ee3737, 
    #fff3d5, 
    #e1e8ed, 
    #cfe0f4, 
    #ccd6dd, 
    #211d1d;
}

.lgbt { color : 
    #e40303, 
    #ff8c00,
    #ffed00,
    #008026,
    #004dff,
    #750787;
}