
/*  Google fonts 'Roboto' Regular 400, Regular 400 italic, Bold 700, Bold 700 italic, Black 900
Google fonts 'Domine' Regular 400, Bold 700 */
@font-face {
    font-family: "leaguespartan-bold";
    src: url("leaguespartan-bold.woff") format("woff");
}


:root {
    --main-bg-color: #fff3d5;
    
    --fly-red:#ff1616;
    --fly-orange: #f10000;
    --fly-grey-light: #e1e8ed;
    --fly-grey-medium: #e2e2e2;
    --fly-grey: #ccd6dd;
    --fly-black: #211d1d;    
    --cyan: #00FFFF;
    --fushia: #ff00ff;    
    --flag-red: #e40303;
    --flag-orange : #ff8c00;
    --flag-yellow: #ffed00;
    --flag-green: #008026;
    --flag-blue: #004dff;
    --flag-purple: #750787;    
    --rainbow: linear-gradient(to right, #e40303, #ff8c00,#ffed00,
    #008026, #004dff, #750787);
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "roboto", "domine", serif;
    color: var(--fly-black);
}
/* //TODO DEFILEMENT TEXTE JS */


/* style pour la selection de tous les textes */
::selection {
    color: rgb(255, 255, 255);
    background-color: #ff1616;
} 

h1, h2{
    font-family: 'Fredericka the Great', cursive;
}
/* TEST nav a finir */
/* .blue{
color : var( --flag-blue);
}
.pink{
    color : var(--fushia);
}
.green{
    color : var(--flag-green);
} */

/* TEST */


ul, ol{
    list-style: none;
}


.count {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    background-color: var(--main-bg-color);
    border : 2px solid #ff1616;
    border-radius: 25px;
}

.count span {
    display: block;
    font-size: 4.5rem;
}

.rgpd {
    background: var(--main-bg-color);
    border: 10px solid var(--main-bg-color);
}
/* TEST nav a finir */
/* .blue{
color : var( --flag-blue);
}
.pink{
    color : var(--fushia);
}
.green{
    color : var(--flag-green);
} */

/* TEST */
.white{
    color: white;
}
.dotted{
    border-top:#ec1940 3px dotted;
}
.coral{
    color : #ec1940;
}
.orange{
    color: orange;
}
.blockOrange{
 background-color: orange;
 color : white;
}
.purple{
    color :#fb00ff;
}
.blocPurple{
    background-color:#fb00ff;
    color:white;
}
.blue{
    color:#0581ea; 
}
.blockBlue{
    background-color:#fb00ff;
    color:white;
}
.rainbow {
    background: var(--rainbow);
    height: 100px;
    width: 100px;
}

h1 {
    border: 10px solid var(--rainbow);
}

.border-rainbow {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-bottom-width: 3px;
    border-image-source: var(--rainbow);
}

button {
    background: none;
    text-decoration: inherit;
    font-family: "roboto";
    font-size: 1rem;
    padding: 1rem 2rem;
    float:right;
}



.block {
    /* background-color: var(--fly-grey-medium); */
    background-color: #ec1940;
}

.block-light {
    background-color: var(--main-bg-color);
}


nav {
    /* font-family: "domine", serif; */
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    background-color:#8e0202;

    
}
a {
    color :#f00;
    font-family: 'Thasadith', sans-serif;
} 

a:visited {
    color: #f00;
}
a:hover {
    color : orange;
}




.thasadith{
    font-family: 'Thasadith', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    /* font-style: bold; */
}